@font-face {
    font-family: chacha;
    src: url(./ppp.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.main{
       height: 100%;
       width: 100%;
       position: relative;
       overflow: hidden;
     background-color: black;

     
}








.main .bottle{
      height: 59%;
      width: 22%;
      
      position: absolute;
       left: 52%;
       top: 40%;
       transform: translate(-50%,-50%);
      transition: 1s;
      z-index: 9;
}
.product{
    position: absolute;
 
  z-index: 2;
    width: 500px;
  
  
}
.product .soda{
    position: absolute;

}

.main .bottle .soda{
   --left: 0px;
    background: 
        var(--url) var(--left),
        url('mockup.png') 0 0;
    background-size: auto 100%;
    width: 280px;
    aspect-ratio: 2 / 4;
    background-blend-mode: multiply;
    transition: 0.8s;
    mask-image: url('mockup.png');
    mask-size: auto 100%;
    transition: 1s;
}

.soda:nth-child(2){
    opacity: 0;
}


.bottle:hover{
     top: 36%;
    
}


.product:hover .soda:nth-child(2){
    opacity: 1;
    --left: 149%;
   
}
.product:hover .soda:nth-child(1){
    opacity: 0;
    --left: 151%;
}



.rimage{
      height: 50%;
      width: auto;
      position: absolute;
      left: 2%;
      bottom: 3%;
      scale: 1.2;
      transition: 0.7s;
       z-index: 2;

}

.center{
    z-index: 4;
         height: 22%;
         width: auto;
      position: absolute;
      left: 35%;
      bottom: -4%;
      transition: 0.7s;
      
      
}

.bottle:hover ~.center{
     bottom: -6%;
    scale: 1;
}

.bottle:hover ~.rimage{
         left: -1%;
         bottom: 2%;
  
}

.leimage{
       width: auto;
       height: 56%;
       position: absolute;
    right: 0%;
    bottom: 0%;
    transition: 0.7s;
     z-index: 9;
}

.bottle:hover ~.leimage{
        right: -1%;
}

nav {
  background: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
}



.logo{
     margin-top: 2%;
      height: 80%;
}

summary{
      scale: 2;
      color: white;
}

.buy{
     height: 10%;
     width: 50%;
     /* background-color: lightcoral; */
     position: absolute;
     top: 42%;
     left: 51.3%;
     transform: translate(-50%,-50%);
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 57%;
     transition: 0.7s;

}

.btn1{
      scale: 1.7;
      padding: 1% 2.5%;
      border: none;
      border-radius: 5px;
background-color:  darkblue;
     color: white;
     font-weight: 700;
     font-family: Arial, Helvetica, sans-serif;
     z-index: 10;
}

 .btn1:hover{
     background-color: rgba(255, 255, 255, 0.71);
     color: darkblue;
     cursor: pointer;
 }
.btn1:active{
      scale: 1.6;
 }

.bottle:hover ~.buy{
        gap: 52%;
      
}


.para{
      height: 20%;
      width: 40%;
      /* background-color: lightcyan; */
      position: absolute;
      top: 17%;
      left: 5%;
      display: flex;
      flex-direction: column;
      gap: 11%;
      z-index: 9
      ;
}

.para h1{
     font-size:     400%;
     color: white;
    text-transform: uppercase;
font-family: chacha;
letter-spacing: 0.3vw;
      
}

.para p{
        text-align: start;
font-family: Arial, Helvetica, sans-serif;
         scale: 0.9;
         margin-left: -5.5%;
          font-weight: 600;
    color: white;
}


.main2{
     height: 60%;
     width: 100%;
  background-color: rgb(39, 71, 252);
  display: flex;
 align-items: center;
 justify-content: center    ;
 gap: 15%;
}

.img21{
    background-image: url(./ice.png);
    background-size: contain;

  border-radius: 10px;
      height: 96%;
      width: 20%;
      background-color: rgb(6, 18, 153);
      border:  solid 1px rgba(0, 0, 0, 0.637);
      position: relative;
}

.mirinda{

     
  filter: drop-shadow(5px 5px 10px black);


     height: 80%;
     width: auto;
     position: absolute;
     top: 49%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.pepsibottle{     
  filter: drop-shadow(5px 5px 9px black);
          height: 86%;
          width: auto;
          position: absolute;
     top: 43%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.sup{
       filter: drop-shadow(5px 5px 9px black);
      height: 86%;
          width: auto;
          position: absolute;
     top: 43%;
     left: 50%;
     transform: translate(-50%, -50%);
      
}

.main3{
     height: 10%;
     width: 100%;
     background-color: rgb(39, 71, 252);
      display:flex;
      align-items: flex-start;
      justify-content: center;
      gap: 15%;
}

.b1{
      height: 70%;
      width: 20%;
      /* background-color: #fff; */
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 26%;
}

.btn2{
      scale: 1.2;
      padding: 2% 5%;
      background-color: rgb(16, 16, 238);
    color: white;
    border: none;border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
     
}


.btn2:hover{
     background-color: white;
    color: rgb(54, 54, 210);
   

}

.btn2:active{
      scale: 1.1;
}


.main4{
      height: 100%;
      width: 100%;
     background: radial-gradient(rgba(255, 0, 0, 0.696),blue);
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
    justify-content: center;
    gap: 10%;
}

.top{
    height: 40%;
    width: 100%;

}
.bottom{
    height: 40%;
    width: 100%;
    /* background-color: rgb(238, 229, 144); */
}

.can{
      height: 80%;
      width: 100%;
      /* background-color: white; */
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8%;
}
.can1{
      height: 80%;
      width: 100%;
       
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8%;
}
.price1{ position: relative;
      height: 20%;
      width: 100%;

      color: white;
      display: flex;
      align-items: center;
     justify-content: space-around;
      gap: 12%;
      text-transform: uppercase ;
      font-family: Arial, Helvetica, sans-serif;
}

.top .can img{
      height: 100%;
      width: auto;
  filter: drop-shadow(-30px 0px 10px rgba(0, 0, 0, 0.6));
}


.bottom .can1 img{
      height: 100%;
      width: auto;
         
  filter: drop-shadow(-30px 0px 10px rgba(0, 0, 0, 0.6));
}

.hello1{
      scale: 1.5   ;
         transition: 0.5s;
     
}


.hello2{
        scale: 1.1;
     margin-bottom: 2%;
      transition: 0.3s;
}
.hello2:hover{
      scale: 1.3;
}

.hello3{
      scale: 1.4;
         transition: 0.5s;
}


.hleft{
        height: 100%;
        width: 60%;
      
         display: flex;
        align-items: center;
        justify-content: center;
        gap: 35%;
    
        
}

.hright{
        height: 100%;
        width: 50%;
        font-family: Arial, Helvetica, sans-serif;
         display: flex;
         align-items: center;
          gap:35%;
                  
}


.supo{
      font-size: 15px;
       margin-left: 24%;
       text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
}
h3{
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
}

.deit{
     font-size: 15px;
      margin-right: 5.8%;
           font-family: Arial, Helvetica, sans-serif;
}
.can img{
      transition: 0.4s;
}

.can img:hover{
      scale: 1.1;
}

.hello2{
     transition: 0.4s;

}

.can .hello2:hover{
      scale: 1.1;
}


.price3{
       height: 20%;
       width: 100%;
       /* background-color: lightslategray; */
       display: flex;
       align-items: center;

}

.hleft2{
       height: 100%;
       width: 50%;
       /* background-color: blueviolet; */
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 31%;
}

.hright2{
        height: 100%;
       width: 50%;
  
        display: flex;
        align-items: center;
        justify-content: center;
         gap: 28%;

}


.mint{
     color: white;
      text-transform: uppercase;
      margin-left: 21%;
}

.straw{
       color: white;
      text-transform: uppercase;
       
}


.sugar{

     text-transform: uppercase;
     color: white;
  


}

 .santara{
     text-transform: uppercase;
     color: white;
        margin-right: 8%;
 }


 .hello1:hover{
      scale: 1.6;
 }


 .hello4{
       scale: 1.1;
         transition: 0.5s;
 }


 .hello5{
     scale: 1.6;
        margin-bottom: 2%;
         transition: 0.5s;
 }
   .hello5:hover{
      scale: 1.8;
   }



  .hello4:hover{
      scale: 1.2;
  }

  .hello3:hover{
       scale: 1.5;
  }

  .main5{
       height: 70%;
       width: 100%;
       background-color: darkblue;
        border: solid 1px white;
      
  }

  .video1{
     overflow: hidden;
       height: 100%;
       width: 50%;
      
        

  }



  .pepesican{
      margin-top: -1%;
       height: 105%;
  }



.btn4{ margin-left: 4%;
        height: 10%;
        width: 100%;
       
         position: absolute;
        margin-top: -4%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
       
}

.inbtn4{
       
          height: 80%;
          width: 17%;
        
           display: flex;
           align-items: center;
           justify-content: center;
           gap: 15%;

}
 .btn44{
        
    margin-right: 1%;
          height: 80%;
          width: 17%;
         
           display: flex;
           align-items: center;
           justify-content: center;
           gap: 15%;
 }
  .btn44 button{
       border: solid 5px black;
        padding: 0px 3%;
         background-color: blue;
         color: white;
          border: none;
          border-radius: 10%;
          font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s      ;
}

.inbtn4 button{
      transition: 0.2s      ; 
        padding: 0px 3%;
         background-color: blue;
         color: white;
          border: none;
        border-radius: 10%;
          font-family: Arial, Helvetica, sans-serif;
}

.inbtn4 button:hover{
  background-color: white;
  color: blue;
  scale: 1.1;
   cursor: pointer;
 
}

.btn44 button:hover{
        background-color: white;
  color: blue;
  scale: 1.1;
  cursor: pointer;
        
}

.bottom .btn4{
       margin-top: -2%;
}

.main5{
         display: flex;
         align-items: center;
}
.h12{
       position: relative;
      
         overflow: hidden;
       height: 100%;
       width: 50%;
 
       
}


.h12 h1{
       transition: 0.2s;
       position: absolute;
       top: 40%;
        left: 5%;
      
      margin-bottom: 2%;
       color: rgb(255, 255, 255);
       font-family: chacha;
       letter-spacing: 5px;
       margin-left: 10%;
      scale: 1.2;
        filter: drop-shadow(0px 25px 15px rgba(0, 0, 0, 0.6)) 
            drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.4));
}
 
.h12 h1:hover{
        scale: 1.3;
    

}

.main2{
         border-top: solid 1px white;
}

.main3{
      border-bottom: solid 1px white;

}

footer{ position: relative;
       display: flex;
       align-items: center;
       justify-content: flex-end;
       gap: 2%;
          background-image: url(footerimg.png);
           background-repeat: no-repeat;
           object-fit: cover;
  background-size: cover;
  background-position:center;
        height: 35%;
        width: 100%;
        background-color: rgb(22, 12, 210);
}





 .f1{
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             justify-content: center;
              height: 100%;
              width: 20%;
              /* background-color: lightsalmon; */
  gap: 2%;
          }

    .f1 h1{
       text-transform: uppercase;
color: white;
font-size: 16px;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 1000;
  

    }      

  footer img{
        position: absolute;
        height: 40%;
         top: 8%;
         left: 0;
  }  



  .main h3{
        position: absolute;
        top: 20%;
        right: 10%;
        color: white;
        font-family: chacha;
        letter-spacing: 3px;
        scale: 1.7;
         opacity: 1;
         filter: drop-shadow(5px 5px 10px black);


  }

  .btn2:hover{
         cursor: pointer;
  }